*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    --res: calc(0.01 * 10vmin);
}

/*
MENU
*/

.menu2 {
    width: 70%;
    min-height: 65%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #2E323E;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*
BUTTON
*/

.previousButton {
    width: 12%;
    min-height: 8%;

    border: none;
    border-radius: 10px;

    font-size: calc(18 * var(--res));
    color: rgb(0, 0, 0);

    position: absolute;
    top: 92%;
    left: 8%;
    transform: translate(-50%, -50%);
}

.previousButton:hover {
    color:rgb(8, 144, 235);
    border: 2px solid rgb(8, 144, 235);
}

/*
REVIEW
*/

.titleReview1 {
    width: 80%;

    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: calc(34 * var(--res));
    text-align: center;

    color: #FFFFFF;

    z-index: 999;
}

.paraReview {
    width: 90%;

    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: calc(24 * var(--res));
    text-align: center;

    color: #FFFFFF;

    z-index: 999;
}

/*
BOOKING FORM
*/

.formBook
{
    width: 60%;
    min-height: 90%;

    border-radius: 20px;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.349);

    background-color: #171A29;
}

.formItem1 {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
}

.formItem2 {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
}

.formItem3 {
    position: absolute;
    top: 72%;
    left: 33%;
    transform: translate(-50%, -50%);

    max-width: 30%;
}

.formItem4 {
    position: absolute;
    top: 72%;
    left: 69%;
    transform: translate(-50%, -50%);

    max-width: 30%;
}

.labelInput {
    font-size: calc(18 * var(--res));

    color: #fff;
}

.formInput {
    text-align: center;

    color: #000000;
    background-color: rgb(255, 255, 255);

    min-height: 3%;
}

.bookButton {
    width: 14%;
    min-height: 10%;

    border: none;
    border-radius: 10px;

    font-size: calc(20 * var(--res));

    position: absolute;
    top: 92%;
    left: 91%;
    transform: translate(-50%, -50%);

    background-color: rgb(8, 144, 235);
    color: #fff;
}

.bookButton:hover {
    background-color: #fff;
    color: rgb(8, 144, 235);
    border: 2px solid rgb(8, 144, 235);
}

/*
MEDIA QUERRY
*/

@media screen and (max-width: 1300px) {
    .menu2 {
      width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .menu2 {
        min-height: 75%;
    }
    .formBook {
        min-height: 80%;
    }
    .name-input, .email-input {
        width: 50%;
    }
    .date-picker, .time-picker {
        max-width: 50%;
    }
    .titleReview1 {
        font-size: calc(44 * var(--res));
    }
    .paraReview {
        font-size: calc(28 * var(--res));
        top: 20%;
    }
    .bookButton {
        font-size: calc(30 * var(--res));
        min-height: 7%;
        width: 25%;
        left: 85%;
    }
    .previousButton {
        width: 15%;
        min-height: 6%;
        top: 95%;
        left: 10%;
        font-size: calc(22 * var(--res));
    }
    .labelInput {
        font-size: calc(28 * var(--res));
    }
}

@media screen and (max-width: 300px) {
    .bookButton {
        font-size: calc(34 * var(--res));
        min-height: 7%;
        width: 30%;
        left: 80%;
    }
    .previousButton {
        width: 20%;
        min-height: 5%;
        top: 95%;
        left: 14%;
        font-size: calc(30 * var(--res));
    }
}